.nav{
  padding: 20px;
  background-color: #3a3a3a; 
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-evenly;
  a{
    text-align: center;
    align-self: center;
    color: white;
  }
}